[Unit]
Description=My Flask Cloud Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Cloud-Project
ExecStart=/usr/bin/python3 /home/ubuntu/Cloud-Project/app/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
