[Unit]
Description=My Flask Cloud Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Cloud-Project
Environment="INFLUXDB_URL=https://influxdb-production-08e2.up.railway.app"
Environment="INFLUXDB_TOKEN=mytoken123"
Environment="INFLUXDB_ORG=myorg"
Environment="INFLUXDB_BUCKET=crypto"
ExecStart=/usr/bin/python3 /home/ubuntu/Cloud-Project/app/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
